<p>Hi <%= @user.name %></p>
<p>Your profile was recently updated.</p>
<p>If you did not request any change to your account, try siging in and reset your password. If you are still having doing click the "forgot password" link. If you a still having trouble feel free to send us an email at help@whichizrite.com. 

-the whichizrite team
</p>