<% provide(:title, @user.name) %>
<div class="main row">
	<div class="span8">
		<%= render "profile" %>
		<div class="posts">
			<%= render "shared/feed" %>
		</div>
	</div>

	<!-- Side Bar -->
	<div class="span4">
		<%= render "shared/sidebar" %>
	</div>
</div>