<div id="loginModal" class="login-form modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4><%= link_to image_tag("wir_title.png", alt: "title"), root_path, id: "title" %></h4>
	</div>
	<div class="row">
		<div class="myLogin">
			<%= render "shared/loginForm" %>		
		</div>
	</div>
</div>