<span class="sidebar">
	<ol class="sidebar-list">
		<li class="sidebar-item-1">
			<%= form_tag posts_path, method: :get, :class => "post-search" do %>
				<%= text_field_tag :query, params[:query], :placeholder => "search", :value => '', :class => "search-query" %>
			<% end %>

			<% if signed_in? %>
				<%= link_to "Create a new post", new_post_path, :class=> "btn" %>
			<% else %>
				<a href="#loginModal" role="button" class="btn" data-toggle="modal">Login | Sign up</a>
				<%= render "shared/login" %>
			<% end %>
		</li>
		<li class="sidebar-item-2">
			<img src="http://www.blogcdn.com/www.joystiq.com/media/2013/04/megamanpillow.jpg">
		</li>
		<li class="sidebar-item-3"></li>
	</ol>
</span>