<div id="featuredCarousel" class="carousel">
	<%= render "mainCarousel" %>
</div>

<div class="main row">
	<!-- Main Feed -->
	<div class="span8">
		<div class="posts">
			<%= render "shared/feed" %>
		</div>
	</div>

	<!-- Side Bar -->
	<div class="span4">
		<%= render "shared/sidebar" %>
	</div>
</div>