<div id="addVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addVideoLabel" aria-hidden="true">
    <div class="addVideoForm">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4>Paste the link for the video you wish to share</h4>
	    </div>	    
	    <div class="modal-info">
	    	<input id="post_p_media" name="post[p_media]" type="text" data-provide="videolink" data-validate="true">
	    </div>
	    <div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save</button>
		</div>
    </div>  
</div>