<div class="main row">
	<!-- Main Post -->
	<div class="new-post-page col-xs-12 col-md-8">
		<%= render "postform" %>
	</div>

	<!-- Side Bar -->
	<div class="hidden-xs col-md-4">
		<%= render "shared/sidebar" %>
	</div>
</div>